ADE_URL= -- URL avec login direct et qui amène directement sur la bonne année --
APP_MODE= -- Mode de lancement de l'application, dev ou prod --
ADMIN_KEY= -- Clé pour les requêtes administrateur à passer dans le header de certaines requetes --

MYSQL_SERVICE_NAME=ade-mysql
MONGO_SERVICE_NAME=ade-mongodb